.footer {
  padding: 20px 0;
  border-top: 1px solid #e0e3ea;
  &__inner {
    text-align: center;
    p {
      color: #665f5f;
    }
  }
}
@mixin footer-sm-md {
  .footer {
    display: none;
  }
}
