// 1280px
@include xlg-xxlg {
  // base start
  h2 {
    font-size: 32px;
    line-height: 40px;
    &.sm {
      font-size: 24px;
      line-height: 34px;
    }
  }
  h3 {
    font-size: 20px;
    line-height: 30px;
  }
  h4 {
    font-size: 18px;
    line-height: 23px;
  }
  h6 {
    font-size: 16px;
    line-height: 20px;
  }
  .auto__container {
    padding: 0 20px;
  }
  .button {
    &.light {
      font-size: 14px;
      line-height: 20px;
      padding: 10px 25px;
    }
  }
  .userPop {
    &__menu {
      min-width: 200px;
      a,
      button {
        font-size: 14px;
        line-height: 20px;
      }
    }
    &__btn {
      width: 40px;
      height: 40px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
  .main {
    padding-top: 65px;
  }
  @include header-xlg-xxlg;
  // base end
  // profile start
  @include profile-xlg-xxlg;
  // profile end
  // post start
  @include post-xlg-xxlg;
  // post end
  // post start
  @include post-xlg-xxlg;
  // post end
  // user start
  @include user-xlg-xxlg;
  // user end
  // addProduct start
  @include addProduct-xlg-xxlg;
  @include more-xlg-xxlg;
  @include upload-xlg-xxlg;
  // addProduct end
}
// 1024px
@include lg-xlg {
  // base start
  h2 {
    font-size: 24px;
    line-height: 34px;
    &.sm {
      font-size: 20px;
      line-height: 30px;
    }
  }

  //   base end
  @include more-lg-xlg;
  @include upload-lg-xlg;
  @include profile-lg-xlg;
  @include user-lg-xlg;
}
// 840px
@include md-lg {
  @include profile-md-lg;
}
// 700px
@include sm-md {
  // base start
  h2 {
    font-size: 18px;
    line-height: 24px;
    &.sm {
      font-size: 18px;
      line-height: 24px;
    }
  }
  h4 {
    font-size: 16px;
    line-height: 24px;
  }
  @include upHeader-sm-md;

  // base end
  @include addProduct-sm-md;
  @include upload-sm-md;
  @include more-sm-md;
  @include profile-sm-md;
  @include user-sm-md;

  .main {
    padding-top: 0;
    min-height: unset;
  }
  @include header-sm-md;
  @include footer-sm-md;
  @include post-sm-md;
}
// 540px
@include xsm-sm {
  @include addProduct-xsm-sm;
  @include more-xsm-sm;
  @include upload-xsm-sm;
  @include profile-xsm-sm;
  @include user-xsm-sm;
}
